.email-filter{
    font-family: Roboto, Arial, sans-serif;
    line-height: 27px;
    box-shadow: none;
    display: flex;
    align-items: center;
    background-color: #eaf1fb;
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 6px 12px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 6px 12px;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #f5f5f5;
}

.material-icons {
    font-size: 20px;
}