.sidebar {
    grid-area: s;
    background-color: #F6F8FC;
    border-right: 1px solid #ddd;
}

.compose-btn {
    align-items: center;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    width: 70%;
    padding: 12px 24px;
    background-color: #c2e7ff; /* Gmail red */
    color: #001d35;
    border: none;
    border-radius: 16px; /* Rounded corners */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px 1px 3px 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    line-height: 32px;
}

.compose-btn:hover {
    background-color: #c2e7ff; /* Darker red on hover */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
}

.sidebar-options {
    margin-top: 0px;
    list-style: none;
    padding: 10px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-option:hover {
    background-color: #f5f5f5;
}

.material-icons {
    font-size: 20px;
    margin-right: 10px;
}